on: [push, pull_request]

name: Continuous integration

jobs:
  clippy:
      name: clippy
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v1
        - uses: actions-rs/toolchain@v1
          with:
              toolchain: stable
              components: clippy
        - uses: actions-rs/clippy@master
          with:
            args: --all-features --all-targets